/*NEW CUSTOM CSS*/

 #notification-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;

  max-width: 400px;
  padding: 6px;
  color: #333333;
  font-family: sans-serif;
  text-align: center;
  
}
#notification-area .notification {
  position:relative;
  padding:15px 10px;
  background:#111;
  color:#f5f5f5;
  font-family: sans-serif;
  font-size:20px;
  font-weight:600;
  border-radius:5px;
  margin:5px 0px;
  opacity:0;
  left:20px;
  border-radius: 5px;
  border: 1px solid #aaaaaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  animation:showNotification 500ms ease-in-out forwards;
  
}
  @keyframes showNotification {
    to {
      opacity:1;
      left:0px;
    }
  }
  #notification-area .notification.success {
    background:#2FB45A;
  }
  #notification-area .notification.error {
    background:#ff3535;
  }
  #notification-area .notification.info {
    background:#00acee;
  }
  .product-details-content .pro-details-quality .pro-details-cart input {
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #1f2226;
  display: inline-block;
  line-height: 0;
   padding: 29px 38px 29px;
  border: none;
    }
    .product-details-content .pro-details-quality .pro-details-cart input:hover {
        background-color: #ff3535; 
    }
    @media only screen and (max-width: 767px) {
    .product-details-content .pro-details-quality .pro-details-cart a {
      padding: 23px 12px 23px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
    .product-details-content .pro-details-quality .pro-details-cart a {
      padding: 22px 22px 22px; } }
    .product-details-content .pro-details-quality .pro-details-cart a:hover {
    border: none; }

    /*INVOICE */
.invoice {
    padding: 30px 40px;
    text-align: center;
}

.invoice p {
    margin-bottom: 0;
}

.invoice--header {
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebea;
}

.invoice--logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.invoice--address {
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 13px;
    line-height: 23px;
}

.invoice--header .invoice--address {
    padding-top: 33px;
    padding-bottom: 33px;
}

.invoice--address > .h3 {
    margin-bottom: 15px;
    padding-top: 8px;
}

.invoice--address > .h3 > span {
    color: #999;
    font-weight: 300;
}

.invoice--address > .h5 {
    margin-bottom: 4px;
    color: #393939;
    font-weight: 700;
    text-transform: uppercase;
}

.invoice--billing {
    padding-top: 40px;
}

.invoice--info {
    padding-top: 30px;
    padding-bottom: 33px;
    color: #999;
    font-weight: 300;
}

.invoice--info > .h5 {
    color: #393939;
    font-weight: 600;
}

.invoice--info > .h5 > span {
    color: #999;
    font-weight: 300;
}

.invoice--info > p {
    margin-top: 4px;
}

.invoice--info > p > strong {
    color: #555;
    font-weight: 400;
}

.invoice--order {
    display: block;
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ebebea;
    text-align: left;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.invoice--order .table {
    background-color: #fff;
}

.invoice--order .table > thead {
    background-color: #f8f8f8;
}

.invoice--order .table > thead > tr > th {
    padding: 9px 30px;
    color: #393939;
    border-top-width: 0;
    border-bottom-width: 0;
    text-transform: uppercase;
    vertical-align: top;
}

.invoice--order .table > tbody > tr:nth-child(even) {
    background-color: #f9f9f9;
}

.invoice--order .table > tbody > tr > td {
    padding: 9px 30px;
    border-color: #ebebea;
}

.invoice--order .table > tbody > tr > td > strong {
    color: #393939;
}

.invoice--order .table > tbody > tr > td[colspan] {
    text-align: right;
}

.invoice--footer {
    padding-top: 50px;
}

.invoice--payment {
    padding-top: 3px;
    padding-bottom: 3px;
}

.invoice--payment > p > strong {
    color: #393939;
    font-weight: 600;
}

.invoice--actions {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: auto;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center;
}

.invoice--actions > .btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.invoice--actions > .btn:not(:last-child) {
    margin-right: 10px;
}

@media (min-width: 577px) {
    .invoice {
        text-align: left;
    }
    
    .invoice--header {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: center;
           -webkit-box-align: center;
                align-items: center;
    }

    .invoice--header .invoice--address {
        padding-top: 3px;
        padding-bottom: 3px;
        margin-left: auto;
        text-align: right;
    }

    .invoice--billing {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: end;
           -webkit-box-align: end;
                align-items: flex-end;
    }

    .invoice--info {
        padding-top: 0;
        padding-bottom: 3px;
        margin-left: auto;
        text-align: right;
    }

    .invoice--footer {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-align: center;
           -webkit-box-align: center;
                align-items: center;
    }

    .invoice--actions {
        margin-top: 0;
        margin-left: auto;
    }
}

   @media print {
        body * {
            visibility: hidden;
        }
        .modal-content * {
            visibility: visible;
            overflow: visible;
        }
        .modal-header * {
            visibility: hidden;
            overflow: hidden;
        }
        .invoice--actions * {
            visibility: hidden;
            overflow: hidden;
        }
        .main-page * {
            display: none;
        }
        .modal {
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            padding: 0;
            min-height: 550px;
            visibility: visible;
            overflow: visible !important; /* Remove scrollbar for printing. */
        }
        .modal-dialog {
            visibility: visible !important;
            overflow: visible !important; /* Remove scrollbar for printing. */
        }
        @page {
            size: auto;   /* auto is the initial value */
            size: A4 portrait;
            margin: 0;  /* this affects the margin in the printer settings */
            border: 1px solid red;  /* set a border for all printed pages */
        }
    }
/* 6.12. RECORDS LIST */
.records--list {
    padding-bottom: 30px;
    color: #696969;
}

.records--list .topbar {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin-bottom: 13px;
    padding: 32px 30px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.records--list .toolbar {
    min-height: 0;
    margin-bottom: 0;
    padding-bottom: 6px;
    color: #393939;
    font-weight: 700;
    text-transform: uppercase;
}

.records--list .topbar .right {
    color: #393939;
    width: 100%;
    margin-top: 23px;
    margin-left: auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.records--list .dataTables_length {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #393939;
}

.records--list .dataTables_length select:not(:focus) {
    border: 1px solid #eee;
}

.records--list .dataTables_info {
    padding-top: 0;
}

.records--list .dataTable {
    padding: 0 30px;
    overflow: auto;
}

.records--list .dataTable.no-footer {
    border-bottom-width: 0;
}

.records--list .dataTable th {
    padding-bottom: 13px;
    color: #393939;
    border-bottom-color: #eee;
}

.no-outlines .records--list .dataTable th:focus {
    outline: 0;
}

.records--list .dataTable th,
.records--list .dataTable td {
    padding-left: 20px;
    padding-right: 20px;
}

.records--list .dataTable tbody tr td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebea;
}

.records--list .dataTable tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.records--list .dataTable img {
    max-width: 80px;
    border: 1px solid #ebebea;
}

.dataTables_paginate {
    margin-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button {
    min-width: 34px;
    padding: 4px 0;
    background: transparent;
    border-color: #ebebea;
    border-radius: 50%;
}

.dataTables_wrapper .dataTables_paginate span .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate span .paginate_button:active,
.dataTables_wrapper .dataTables_paginate span .paginate_button.current,
.dataTables_wrapper .dataTables_paginate span .paginate_button.current:hover {
    color: #fff !important;
    background: #e16123;
    border-color: #e16123;
    box-shadow: none;
}


.dataTables_wrapper .dataTables_paginate > .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate > .paginate_button:active {
    color: #e16123 !important;
    background: transparent;
    border-color: transparent;
    box-shadow: none;
}

@media (min-width: 768px) {
    .records--list .topbar .right {
        width: auto;
        margin-top: 0;
    }
}

.main {
    width: 19rem;
    height: 5rem;
    padding: 12px;
    background-color: white;
    text-align: center;
    border-radius: 3rem;
    overflow: hidden;
    transition: width .6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.main>#singular-form {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}
.main>#singular-form button {
    width: 9rem;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
}
.main>#singular-form>button#subs {
    padding: 0;
    width: 100%;
    color: #DBBCA9;
    background-color: transparent;
    z-index: 3;
}
.main>#singular-form>#email-input {
    z-index: 2;
}
.main>#singular-form>#email-input>input {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0 26% 0 3%;
    opacity: 0;
    transform: scale(0);
    transition: all .6s ease .4s;
}
.main>#singular-form>#email-input>button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #DBBCA9;
    color: white;
    opacity: 0;
    transform: scale(0);
    transition: all .6s ease .4s;
}
.main>#singular-form>#success {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DBBCA9;
    font-weight: bold;
    z-index: 1;
}
.main>#singular-form>button#subs,
.main>#singular-form>#email-input,
.main>#singular-form>#success {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0);
    opacity: 0;
}
.main>#singular-form>button#subs {
    transition: all .6s ease;
}
.main>#singular-form>#email-input {
    transform: scale(1);
    opacity: 1;
    transition: all .6s ease .4s;
}
 
.main>#singular-form>#success {
    transition: all .2s ease .6s;
}
.main>#singular-form>button#subs.shown,
.main>#singular-form>#email-input.shown,
.main>#singular-form>#success.shown,
.main>#singular-form>#email-input>button.shown,
.main>#singular-form>#email-input>input.shown {
    transform: scale(1);
    opacity: 1;
}